.c-category-card {
  position: relative;
  min-height: 125px;
  width: 100%;
  height: 100%;
  padding: 20px;

  > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: $screen-l) {
    min-height: 320px;
  }
}
