.c-download-tooltip {
  text-align: left;

  ul > li {
    ul {
      display: inline-flex;
      margin: 0 0 0 5px;

      > li {
        &:not(:first-child) {
          margin: 0 0 0 5px;
        }

        > a {
          font-weight: 600;
          color: $black;
        }
      }
    }
  }
}

.download-tooltip-trigger {
  display: inline-flex;
  align-items: center;
  font-size: $font-xs;
  font-weight: 300;
  text-decoration: underline;

  @media screen and (min-width: $screen-m) {
    font-size: $font-s;
  }

  > svg {
    margin: 0 0 0 5px;
  }

  & + *  {
    display: inline-block;
    margin: 10px 0 0 15px;
  }
}
