.c-footer-navigation {

  .logo {

    @media screen and (min-width: $screen-l) {
      display: none;
    }
  }

  ul {
    &.-no-mobile {
      display: none;

      @media screen and (min-width: $screen-l) {
        display: flex;
        flex-direction: column;
      }
    }

    &.-only-mobile {

      @media screen and (min-width: $screen-l) {
        display: none;
      }
    }

    &.menu-nav-mobile {
      margin: 5px 0 0;
      column-count: 2;

      > li {
        &:nth-child(2) {
          margin: inherit;
        }
      }
    }
  }

  ul > li {
    &:not(:first-child) {
      margin: 10px 0 0;
    }

    &:nth-child(2) {
      margin: 20px 0 0;
    }

    > a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &.-category {
        font-weight: 600;
      }
    }
  }


  .extra-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    ul > li {
      display: inline-block;
      text-align: right;


      &:first-child {
        display: none;
        align-items: center;
        justify-content: flex-end;

        > button {
          display: inline-flex;
          align-items: center;
          color: $white;
          line-height: 30px;
          cursor: pointer;

          > .c-icon {
            margin: 0 0 0 5px;

            use {
              fill: $white;
            }
          }
        }

        @media screen and (min-width: $screen-l) {
          display: flex;
        }
      }

      &:nth-child(2) {
        display: none;

        @media screen and (min-width: $screen-l) {
          display: inline-block;
          visibility: hidden;
        }
      }
    }
  }

  .credits {
    margin: 35px 0 0;

    .credits-designed,
    .credits-powered {
      display: flex;
      align-items: center;

      @media screen and (min-width: $screen-s) {
        height: 100%;
      }
    }

    .credits-powered {
      margin: 25px 0 0;
      @media screen and (min-width: $screen-s) {
        margin: 0;
        justify-content: flex-end;
      }
    }

    span {
      display: inline-flex;
      align-items: center;
      font-size: $font-xxs;
      font-weight: 300;
      color: $white;

      > a {
        display: inline-flex;
        margin: 0 0 0 10px;
      }
    }
  }

  .legal-advice {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: $white;
    width: 100%;
    margin: 35px 0 0 0;

    @media screen and (min-width: $screen-s) {
      margin: 65px 0 0 0;
    }

    a {
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;

      @media screen and (min-width: $screen-m) {
        justify-content: flex-end;
      }

      > li {
        display: inline-block;

        &:not(:first-child) {
          margin: 0 0 0 15px;
        }
      }
    }
  }
}
