.c-footer-options {
  .ihr-logo {
    display: inline-flex;
    height: 100%;
  }

  .logo {
    display: none;

    @media screen and (min-width: $screen-l) {
      display: inline-block;
    }
  }

  .c-language-switcher {
    margin-top: 40px;

    @media screen and (min-width: $screen-l) {
      margin-top: 0;
      width: 100%;
      justify-content: flex-end;
    }
  }

  .c-newsletter {
    margin-top: 15px;

    @media screen and (min-width: $screen-l) {
      margin-top: 0;
    }
  }
}
