.c-footer-options {
  display: flex;
  flex-direction: column-reverse ;
  align-items: flex-start;

  @media screen and (min-width: $screen-l) {
    flex-direction: row;
  }

  .logo {
    display: none;

    @media screen and (min-width: $screen-l) {
      display: inline-block;
    }
  }

  .c-language-switcher {
    display: inline-block;
  }
}
