.c-footer-navigation {
  .-link {
    display: block;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.-principal {
      margin-bottom: 20px;
    }

    &.-secondary {
      margin-bottom: 10px;
    }
  }


  .extra-links {
    text-align: right;

    // Link to download the report
    a:first-of-type {
      position: relative;
      margin-bottom: 65px;

      .c-icon {
        position: absolute;
        top: 5px;
        right: -30px;

        use { fill: $white; }
      }
    }

    .text {
      margin-bottom: 10px;
    }
  }

  .powered-by {
    margin-top: 70px;
    font-size: $font-xxs;
    text-align: right;
    

    img {
      display: inline-block;
      width: 116px;
      margin-left: 10px;
      vertical-align: middle;
    }
  }
  .legal-advice {
    vertical-align: text-bottom;
    color: $white;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 72px;
     a {
       color: $white;
       &:hover {
         text-decoration: underline;
	}
     }
     ul, li {
      display: inline;
      padding-right: 10px;
     }
  }
}
