.c-home-index {
  position: fixed;
  top: 30%;
  left: 0;

  display: flex;
  flex-direction: column;

  z-index: 2; // Needed for the homepage vis

  li {
    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  a {
    display: block;
    height: 36px;
    width: 10px;
    transition: width .1s ease-in;

    &.item-1 { background-color: $black;}
    &.item-2 { background-color: $light-blue;}
    &.item-3 { background-color: $openess;}
    &.item-4 { background-color: $digital-inclusion;}
    &.item-5 { background-color: $web-literacy;}
    &.item-6 { background-color: $decentralization;}

    &:hover {
      width: 15px;

      @media screen and (min-width: $screen-m) {
        width: 30px;
      }
    }
  }
}
