.c-home-slide {
  padding: 40px 0 100px;

  @media screen and (min-width: $screen-m) {
    padding: 120px 0 240px;
  }

  h1 {
    a {
      text-decoration: none;
    }
  }

  .slide-content {
    position: relative; // Needed for the homepage vis
    z-index: 2; // Needed for the homepage vis
  }

  a {
    color: $black;
  }
}
