.c-language-switcher {
  display: inline-flex;
  height: 100%;
  @media screen and (min-width: $screen-m) {
    width: 100%;
    margin-left: 20px;
  }
  > select {
    height: 50px;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: $font-family-1;
    font-size: $font-s;
    color: $white;
    background-color: $black;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZD0iTTE2LjkxNCAyNS4zNzFMMi4wNTcgMTEuNjU3bDQuNTcxLTUuMDI5IDEwLjI4NiA5LjM3MUwyNy4yIDYuNjI4bDQuOCA1LjAyOXoiIGZpbGw9IiNmZmYiLz48L3N2Zz4K');
    background-repeat: no-repeat;
    background-size: 11px auto;
    background-position: right center;
  }
}