.c-language-switcher {
  display: inline-flex;

  > select {
    height: 50px;
    appearance: none;
    border: 0;
    font-family: $font-family-1;
    font-size: $font-xs;
    color: $white;
    background-color: $black;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZD0iTTE2LjkxNCAyNS4zNzFMMi4wNTcgMTEuNjU3bDQuNTcxLTUuMDI5IDEwLjI4NiA5LjM3MUwyNy4yIDYuNjI4bDQuOCA1LjAyOXoiIGZpbGw9IiNmZmYiLz48L3N2Zz4K');
    background-repeat: no-repeat;
    background-size: 11px auto;
    background-position: right center;

    @media screen and (min-width: $screen-m) {
      font-size: $font-s;
    }
  }

  .c-enhanced-select {
    .label {
      color: $white;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZD0iTTE2LjkxNCAyNS4zNzFMMi4wNTcgMTEuNjU3bDQuNTcxLTUuMDI5IDEwLjI4NiA5LjM3MUwyNy4yIDYuNjI4bDQuOCA1LjAyOXoiIGZpbGw9IiNmZmYiLz48L3N2Zz4K');
    }
  }
}
