.c-main-navigation {
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: $screen-l) {
    display: block;
    .current-menu-item > li {
      display:inline;
      border-left: 5px solid white;
    }
  }

  .menu-item {
    margin-right: 20px;

    a {
      color: $black;
      font-weight: 300;
      font-size: $font-xs;
      line-height: 2;

      @media screen and (min-width: $screen-m) {
        font-size: $font-s;
      }
    }
  }

  .sub-menu {
    padding:20px 0px;
    background-color: $white;
    border: $border-black;

    @media screen and (max-width: 1024px) {
      display: none;
    }

    &:after {
       content: '';
       height: 10px;
       width: 10px;
       display: block;
       margin: auto;
       background: $white;
       border-top: 3px solid $black;
       border-left: 3px solid $black;
       -ms-transform: rotate(45deg);
       -webkit-transform: rotate(45deg);
       transform: rotate(45deg);
       top: -27px;
       position: relative;
    }

    li {
      padding:8px 0px 8px 30px;
    }

    a {
       line-height: 24px;

       &:hover {
         // We remove the underline because it enters
         // in conflict (visually) with the border at the
         // bottom when the element is active
         text-decoration: none;
       }
    }
  }

  .current-menu-item > a {
    border-bottom: $border-black;
    display:inline;
  }
}
