.c-main-navigation {
  display: block;


  @media screen and (min-width: $screen-l) {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &.toggled {
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    padding: 75px 35px 35px;
    background: $black;

    .menu-toggle {
      color: $white;
    }

    .lang-selector {
      display: block;
      padding-top: 10px;
    }

    .nav-menu {
      display: block;
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 2px solid $white;

      li {
        margin: 0;
        padding: 5px 0;

        a {
          color: $white;
        }

        &.current-menu-item {
          position: relative;

          a {
            font-weight: 600;
          }

          &:after {
            display: block;
            position: absolute;
            top: 0;
            left: -15px;
            width: 5px;
            height: 100%;
            background: $white;
            content: '';
          }
        }
      }
    }
  }

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  a {
    display: block;
    text-decoration: none;
  }

  .nav-menu {
    display: none;

    @media screen and (min-width: $screen-l) {
      display: block;
    }

    > li {
      position: relative;

      @media screen and (min-width: $screen-l) {
        display: inline-block;
      }

      &:not(:last-of-type) {
        @media screen and (min-width: $screen-l) {
          margin-right: 20px;
        }
      }

      &:hover,
      &:focus {
        .sub-menu {
          @media screen and (min-width: $screen-l) {
            display: block;
          }
        }
      }

      &.current-menu-item {
        > a {
          @media screen and (min-width: $screen-l) {
            border-bottom: $border-black;
          }
        }
      }

      a {
        font-weight: 300;
        font-size: $font-xs;
        line-height: 1.5;
        color: $black;

        @media screen and (min-width: $screen-m) {
          font-size: $font-s;
        }

        @media screen and (min-width: $screen-l) {
          // Equalise the height of the a elements
          border-bottom: 3px solid transparent;
        }
      }
    }
  }

  .sub-menu {
    display: none;

    @media screen and (min-width: $screen-l) {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      padding: 20px;
      background-color: $white;
      box-shadow: 0 3px 3px rgba($black, .2);
      border: $border-black;
      z-index: 99999;

    }

    &:after {
       content: '';
       display: block;
       position: absolute;
       top: -7px;
       left: 50%;
       height: 10px;
       width: 10px;
       transform: translateX(-50%) rotate(45deg);
       border-top: 3px solid $black;
       border-left: 3px solid $black;
       background: $white;
    }

    a {
      width: 200px;

      &:hover {
        // We remove the underline because it enters
        // in conflict (visually) with the border at the
        // bottom when the element is active
        text-decoration: none;
      }
    }

    li {
      padding: 2px 0;
      margin: 0;

      &.current-menu-item {
        a {
          display: inline;
          border-bottom: $border-black;
        }
      }
    }
  }

  .lang-selector {
    display: none;
  }

  // Hamburger menu
  .menu-toggle {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: $font-mb-l;

    @media screen and (min-width: $screen-l) {
      display: none;
    }
  }
}
