.c-main-navigation {
  display: flex;
  justify-content: flex-end;

  .menu-item {
    margin-right: 20px;

    a {
      color: $black;
      font-weight: 300;
      font-size: $font-s;
      line-height: 30px;
    }
  }

  .sub-menu {
    padding: 10px;
    background-color: $white;
    border: 3px solid $black;

    a:hover {
      text-decoration: underline;
    }
  }
}
