.c-newsletter {
  .email-button {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen-l) {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }

    input {
      flex-grow: 1;
      height: 35px;
      border: 0;
      border-radius: 0;
      border-bottom: 3px solid $white;
      font-family: $font-family-1;
      font-weight: 300;
      font-size: $font-xs;
      color: $white;
      background: transparent;

      @media screen and (min-width: $screen-m) {
        font-size: $font-s;
      }

      @media screen and (min-width: $screen-l) {
        max-width: 55%;
        margin-right: 20px;
      }
    }

    .btn.-secondary {
      padding: 5px 40px;
      margin: 25px 0 0;

      @media screen and (min-width: $screen-l) {
        margin: 0;
      }

      &:hover {
        border-color: $white;
        box-shadow: $box-shadow-white;
      }
    }
  }

  .privacy {
    margin-top: 15px;

    input {
      display: inline-block;
      margin-right: 10px;
    }

    a {
      color: $white;
      text-decoration: underline;
    }

    label {
      color: $white;
      font-size: $font-xxs;
    }
  }
}
