.c-post {
  @extend %text;
  > .post-date {
    display: inline-block;
    margin: 5px 0 15px;
    font-size: $font-xxs;
  }
  figure {
    position: relative;
    margin: 50px 0 60px;
    border: $border-black;
    min-height: 125px;
    > img {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    figcaption {
      position: relative;
      bottom: 2px;
      display: inline-block;
      width: 100%;
      margin: 0;
      padding: 5px 15px;
      border-top: 3px solid $black;
      background-color: $white;
      font-size: 14px;
      font-weight: 500;
      line-height: 15px;
      text-align: left;
      @media screen and (min-width: $screen-m) {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 90%;
        border-left: 3px solid $black;
      }
    }
    &.alignleft {
      @media screen and (min-width: $screen-m) {
        margin-right: 100px;
      }
      figcaption {
        top: 0;
        right: 0;
        bottom: auto;
        border-top: 0;
        border-right: 0;
        @media screen and (min-width: $screen-m) {
          border-bottom: 3px solid $black;
          border-left: 3px solid $black;
        }
      }
    }
    &.alignright {
      @media screen and (min-width: $screen-m) {
        margin-left: 100px;
      }
      figcaption {
        top: 0;
        left: 0;
        bottom: auto;
        border-top: 0;
        border-left: 0;
        @media screen and (min-width: $screen-m) {
          border-right: 3px solid $black;
          border-bottom: 3px solid $black;
        }
      }
    }
  }
  p + p {
    margin-top: 30px;
  }
  a {
    color: $black;
    text-decoration: underline;
  }
  .further-reading {
    border-top: 3px solid black;
    margin-top: 30px;
    @media screen and (min-width: $screen-m) {
      margin-top: 60px;
    }
  }

  .c-reactions-bar {
    position: relative;
    display: block;
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-top: 30px;
    border: 0;

    @media screen and (min-width: 40em) {
      width: calc(120% + 24px);
      max-width: calc(120% + 24px);
      margin-left: calc(-12px - 10%);
    }

    @media screen and (min-width: $screen-m) {
      position: absolute;
      margin: inherit;
      width: 100%;
      max-width: inherit;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background: repeating-linear-gradient(90deg, $black, $black 10px, transparent 10px, transparent 20px);
      content: '';
    }

    > .wrap {
      @extend .column, .small-12;

      @media screen and (min-width: 40em) {
        // .medium-10
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
        // .medium-offset-1
        margin-left: 8.33333%;
      }

      @media screen and (min-width: $screen-m) {
        padding: 0;
      }
    }

    .reactions-bar-container {
      height: auto;

      @media screen and (min-width: $screen-m) {
        height: 65px;
      }

      > .column {
        padding: 0;

        @media screen and (min-width: $screen-m) {
          padding: inherit;
        }
      }
    }
  }
}

.post-content {
  a {
    color: $black;
    text-decoration: underline;
  }
  p + p {
    margin-top: 30px;
  }
}

//Override WP styles
.wp-caption .wp-caption-text {
  margin: 0;
}
