.c-post {
  @extend %text;

  > .post-date {
    display: inline-block;
    margin: 5px 0 15px;

    font-size: $font-xxs;
  }

  figure {
    position: relative;
    margin: 50px 0 60px;
    border: $border-black;
    min-height: 125px;

    > img {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    figcaption {
      position: relative;
      bottom: 2px;
      display: inline-block;
      width: 100%;
      margin: 0;
      padding: 5px 15px;
      border-top: 3px solid $black;
      background-color: $white;
      font-size: 14px;
      font-weight: 500;
      line-height: 15px;
      text-align: left;

      @media screen and (min-width: $screen-m) {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 90%;
        border-left: 3px solid $black;
      }
    }

    &.alignleft {

      @media screen and (min-width: $screen-m) {
        margin-right: 100px;
      }

      figcaption {
        top: 0;
        right: 0;
        bottom: auto;
        border-top: 0;
        border-right: 0;

        @media screen and (min-width: $screen-m) {
          border-bottom: 3px solid $black;
          border-left: 3px solid $black;
        }
      }
    }

    &.alignright {

      @media screen and (min-width: $screen-m) {
        margin-left: 100px;
      }

      figcaption {
        top: 0;
        left: 0;
        bottom: auto;
        border-top: 0;
        border-left: 0;

        @media screen and (min-width: $screen-m) {
          border-right: 3px solid $black;
          border-bottom: 3px solid $black;
        }
      }
    }
  }

  p + p {
    margin-top: 30px;
  }

  a {
    color: $black;
    text-decoration: underline;
  }
}

.post-content {
  a {
    color: $black;
  }
}

//Override WP styles
.wp-caption .wp-caption-text {
  margin: 0;
}
