.c-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  overflow-x: auto;
  white-space: nowrap;

  @media screen and (min-width: $screen-m) {
    overflow-x: visible;
    white-space: normal;
  }

  li {
    position: relative;

    &:not(:first-child) {
      margin: 0 0 0 15px;
    }

    &.-active {
      @media screen and (min-width: $screen-m) {
        &:before {
          content: "";
          position: absolute;
          bottom: -20px;
          left: 50%;
          transform: translate(-50%, 50%);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: $white;
          border: $border-black;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: -20px;
          left: 50%;
          transform: translate(-50%, 50%);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $black;
        }
      }
    }
  }

  a {
    color: $black;
  }
}
