.c-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    position: relative;
    padding: 20px 0;

    &.-active {
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $white;
        border: $border-black;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $black;
      }
    }
  }

  a {
    color: $black;
  }


}
