.c-tooltip {
  a {
    color: $black;
  }

  .title {
    margin: 0;
    font-weight: 600;
    font-size: $font-s;
    line-height: 1.25;
  }

  .label {
    font-size: $font-xxs;
    line-height: 1.4;
    text-transform: uppercase;
  }

  .number {
    margin: 5px 0;
    font-size: $font-l;
    line-height: 1.25;
  }

  .note {
    margin: 0;
    font-size: $font-xxs;
    line-height: 1.25;
  }

  .close-button {
    position: absolute;
    top: 30px;
    right: 0;
    transform: translateX(50%);
  }

  .map-categories {
    text-align: left;
    max-width: 260px;

    > div:not(:last-of-type) {
      margin-bottom: 15px;
    }

    .text {
      line-height: 1;
      cursor: pointer;

      &.-active {
        font-weight: 600;
      }
    }
  }

  .c-single-post {
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;
    border: 0;

    &:hover {
      box-shadow: none;
    }

    .single-post-body {
      height: auto;
      flex-basis: 100%;

      &.-image {
        flex-basis: 66%;
      }
    }

    .single-post-image {
      flex-basis: 34%;
      flex-shrink: 0;
      border-left-width: 2px;
    }
  }

  .app-unhappiness {
    text-align: left;

    .title {
      margin-bottom: 5px;
    }

    .label {
      margin-bottom: 7px;
    }

    .container {
      display: flex;
      justify-content: space-between;

      > div {
        &:first-of-type {
          margin-right: 30px;
        }

        > div:not(:last-of-type) {
          margin-bottom: 5px;
        }
      }
    }

    .c-icon {
      vertical-align: middle;
    }
  }

  .web-literacy-crosswalk {
    text-align: left;
    max-width: 220px;

    .title {
      margin-bottom: 5px;
    }

    .label {
      margin-bottom: 5px;
    }
  }
}

// Styles for tippy
.tippy-popper {
  z-index: 51 !important; // Need to be lower than the footer's (for the homepage vis)
}

.tippy-tooltip.ihr-theme {
  padding: 20px;
  background-color: $white;
  color: $black;
  font-family: $font-family-1;
  font-size: $font-s;
  border: 2px solid $black;
  border-radius: 0;

  .tippy-arrow {
    [x-placement^=top] & {
      bottom: -11px;
      width: 20px;
      height: 20px;
      border: 0;
      border-top: 2px solid $black;
      border-left: 2px solid $black;
      background: $white;
      transform: rotate(-135deg);
      transform-origin: center center;
    }

    [x-placement^=bottom] & {
      top: -11px;
      width: 20px;
      height: 20px;
      border: 0;
      border-bottom: 2px solid $black;
      border-right: 2px solid $black;
      background: $white;
      transform: rotate(-135deg);
      transform-origin: center center;
    }
  }

  &.-homepage-vis {
    width: 340px;
    padding: 0;
    text-align: left;
  }
}

// Styles for mapbox
.mapboxgl-popup {
  .mapboxgl-popup-content {
    padding: 20px;
    background-color: $white;
    color: $black;
    font-family: $font-family-1;
    font-size: $font-s;
    border: 2px solid $black;
    border-radius: 0;
    text-align: center;
  }

  .mapboxgl-popup-tip {
    position: absolute;
    bottom: -9px;
    width: 20px;
    height: 20px;
    border: 0;
    border-top: 2px solid $black;
    border-left: 2px solid $black;
    background: $white;
    transform: rotate(-135deg);
    transform-origin: center center;
  }

  &.mapboxgl-popup-anchor-top {
    .mapboxgl-popup-tip {
      top: -9px;
      bottom: auto;
      transform: rotate(45deg);
    }
  }

  &.mapboxgl-popup-anchor-left {
    .mapboxgl-popup-tip {
      left: -9px;
      bottom: auto;
      transform: rotate(-45deg);
    }
  }

  &.mapboxgl-popup-anchor-right {
    .mapboxgl-popup-tip {
      right: -9px;
      bottom: auto;
      transform: rotate(135deg);
    }
  }
}
