.v-app-unhappiness {
  circle {
    fill: none;
    stroke: rgba($black, .1);
    stroke-width: 1;
  }

  .axis text {
    font-size: $font-xxxs;
    color: black;
    text-anchor: start;
    transform: translateY(#{-$font-xxxs / 2});
  }

  .labels text {
    font-size: $font-xxxs;
    color: black;
  }
}
