.app-unhappiness-vis {
  width: 100%;
  position: relative;
}

.app-unhappiness-vis .axis line,
.app-unhappiness-vis .axis circle {
  fill: none;
  stroke: rgba(0, 0, 0, .1);
}

.app-unhappiness-vis .axis text {
  font-size: 12px;
  color: black;
  text-anchor: start;
}

.app-unhappiness-vis .outer-axis .domain {
  stroke: transparent;
}
.app-unhappiness-vis .outer-axis .tick {
  stroke: transparent;
  stroke-width: 0;
}
.app-unhappiness-vis .outer-axis .tick text,
.app-unhappiness-vis .outer-axis-tick text {
  font-size: 10px;
  color: black;
  text-anchor: start;
}

.app-unhappiness-vis .line {
  fill: none;
  stroke: #000;
  stroke-linejoin: 'round';
  stroke-linecap: 'round';
  stroke-width: 2;
}

.app-unhappiness-vis .area.happy {
  fill: #6DD8AF;
}

.app-unhappiness-vis .area.unhappy {
  fill: rgba(0, 0, 0, .2);
}

/* Legend */
.app-unhappiness-vis .app-unhappiness-vis-legend {
  position: relative;
}
.app-unhappiness-vis .app-unhappiness-vis-legend ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.app-unhappiness-vis .app-unhappiness-vis-legend ul > li {
  display: flex;
  vertical-align: middle;
  margin-right: 40px;
  font-size: 16px;
  line-height: 17px;
}
.app-unhappiness-vis .app-unhappiness-vis-legend ul > li:last-child {
  margin-right: 0;
}
.app-unhappiness-vis .app-unhappiness-vis-legend li:before {
  display: inline-block;
  content: " ";
  height: 17px;
  width: 17px;
  margin-right: 5px;
  box-sizing: border-box;
}
.app-unhappiness-vis .app-unhappiness-vis-legend .happy-percent-icon:before {
  background-color: white;
  border: 2px solid #000;
}
.app-unhappiness-vis .app-unhappiness-vis-legend .happy-icon:before {
  background-color: #6DD8AF;
  border: 0;
}
.app-unhappiness-vis .app-unhappiness-vis-legend .unhappy-icon:before {
  background-color: rgba(0, 0, 0, .2);
  border: 0;
}
