.v-day-on-the-web {
  .slider .tick text {
    font-family: $font-family-1;
    font-size: $font-xxs;
  }

  .handle text {
    font-family: $font-family-1;
    font-size: $font-xxs;
    fill: $black;
  }

  .labels text {
    font-family: $font-family-1;
    font-size: $font-s;
    fill: $black;
  }
}
