* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;

  background: $color-2;

  color: $color-1;
  font-family: $font-family-1;
  font-size: $font-size-regular;
  font-weight: $font-weight-medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media #{$mq-body-width} {
    margin: 0 auto;
  }
}

.wrapper {
  width: 100%;
  max-width: $body-max-width;
  margin: 0 auto;
  padding: 0 $wrapper-padding-mobile;

  @media #{$mq-tablet} {
    padding: 0 $wrapper-padding-tablet;
  }

  @media #{$mq-laptop} {
    padding: 0 $wrapper-padding-desktop;
  }
}
