// Layout
$body-max-width: 1280px;
$content-max-width: 1060px;

$wrapper-padding-mobile: 18px;
$wrapper-padding-tablet: 30px;
$wrapper-padding-desktop: 110px;

// Breakpoints
$breakpoint-mobile:   320px;
$breakpoint-tablet:   768px;
$breakpoint-laptop:  1024px;
$breakpoint-desktop: 1200px;

// Media queries
$mq-mobile:  'screen and (min-width: #{$breakpoint-mobile})';
$mq-tablet:  'screen and (min-width: #{$breakpoint-tablet})';
$mq-laptop:  'screen and (min-width: #{$breakpoint-laptop})';
$mq-desktop: 'screen and (min-width: #{$breakpoint-desktop})';

$mq-body-width:    'screen and (min-width: #{$body-max-width})';
$mq-content-width: 'screen and (min-width: #{$content-max-width})';

// Fonts
$font-family-1: 'Arial', sans-serif;

// Font sizes
$font-size-small:   14px;
$font-size-regular: 16px;
$font-size-medium:  24px;
$font-size-big:     35px;
$font-size-huge:    60px;

// Font weights
$font-weight-light:  300;
$font-weight-medium: 400;
$font-weight-bold:   700;

// Colors
$color-1:  black;
$color-2:  white;
