.btn {
  @extend %text-btn-1;
  display: inline-block;
  padding: 15px 40px;
  margin-top: 70px;

  &.-raw {
    color: $black;

    &:hover {
      text-decoration: underline;
    }
  }

  &.-primary {
    color: $black;
    border: $border-black;
  }

  &.-secondary {
    color: $white;
    background-color: $black;
    border: 3px solid $white;
  }

  &.-primary,
  &.-secondary {
    &:hover {
      border: $border-black;
      box-shadow: $box-shadow;
    }
  }
}
