h1, h2, h3, h4, h5, h6, p, * {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-1;
  -webkit-font-smoothing: antialiased;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;


  &.archive {
    &.category-9,
    &.category-10 {
      background-image: url('images/background/01_Backg_red@2x.png');
    }

    &.category-8,
    &.category-13 {
      background-image: url('images/background/01_Backg_blue@2x.png');
    }

    &.category-1,
    &.category-5 {
      background-image: url('images/background/01_Backg_yellow@2x.png');
    }

    &.category-10,
    &.category-17 {
      background-image: url('images/background/01_Backg_lightblue@2x.png');
    }

    &.category-11,
    &.category-16 {
      background-image: url('images/background/01_Backg_green@2x.png');
    }
  }

  &.single {
    &.category-9,
    &.category-10 {
      background-image: url('images/background/02_Backg_red@2x.png');
    }

    &.category-8,
    &.category-13 {
      background-image: url('images/background/02_Backg_blue@2x.png');
    }

    &.category-1,
    &.category-5 {
      background-image: url('images/background/02_Backg_yellow@2x.png');
    }

    &.category-10,
    &.category-17 {
      background-image: url('images/background/02_Backg_lightblue@2x.png');
    }

    &.category-11,
    &.category-16 {
      background-image: url('images/background/02_Backg_green@2x.png');
    }
  }
}

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
    &:-webkit-any-link {
    text-decoration: none;

    &:visited {
      color:inherit;
    }
  }
}

button {
  appearance: none;
  box-shadow: none;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  outline: none;
  padding: 0;
}
