h1, h2, h3, h4, h5, h6, p, * {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-1;
  -webkit-font-smoothing: antialiased;
}

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a:-webkit-any-link {
  text-decoration: none;
}
