.l-main-layout {
  margin: 0 auto;
}

.wrap {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1240px;
}

.l-header {
  width: 100%;
  padding: 30px 0;
}

.l-main {
  padding: 60px 0 100px 0;
}

.l-tabs {
  border-top: $border-black;
  border-bottom: $border-black;
}

.l-categories {
  margin-top: 50px;
}

.l-cards-grid {
  padding-top: 50px;
}

.l-card {
  display: flex;
}

.l-category-card {
  display: flex;
}

.l-block-detail {
  position: relative;
  padding: 95px 0 90px;
  border: $border-black;
  background-color: $white;
  margin-bottom: 115px;
}

.l-social {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: $white;
  border-top: $border-black;

  .wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &.-emotions {
    transform: translatex(-100%);
  }
}


.l-section-header {
  padding-bottom: 65px;
}

.l-tab-content {
  padding-top: 140px;
}

.l-footer {
  position: relative;
  z-index: 100;
  background-color: $black;
}

.l-footer-top {
  border-bottom: 2px solid $white;
  padding: 40px 0;
}

.l-footer-bottom {
  padding: 40px 0 60px;
}


