/* FONTS */
$font-family-1: "ZillaSlab";

$font-xxxxl: 120px;
$font-xxxl: 76px;
$font-xxl: 72px;
$font-xl: 52px;
$font-l: 40px;
$font-ml: 28px;
$font-m: 24px;
$font-s: 20px;


/* Colors */
$black: #000;
$white: #fff;

$yellow: #ffe159;
$blue: #5fa1f4;
$light-blue: #76e1f4;
$red: #ff5c73;
$green: #6dd8af;

