/* SCREENS */
$screen-xs: 320px;
$screen-s: 540px;
$screen-m: 768px;
$screen-ml: 900px;
$screen-l: 1024px;
$screen-xl: 1280px;
$screen-xxl: 2000px;

/* FONTS */
$font-family-1: "ZillaSlab";

$font-xxxxl: 120px;
$font-xxxl: 76px;
$font-xxl: 72px;
$font-xl: 52px;
$font-l: 40px;
$font-mb-xl: 38px;
$font-mb-l: 32px;
$font-ml: 28px;
$font-m: 24px;
$font-mb-l: 22px;
$font-s: 20px;
$font-xs: 18px;
$font-xxs: 16px;

/* Colors */
$black: #000;
$white: #fff;

$yellow: #ffe159;
$blue: #5fa1f4;
$light-blue: #76e1f4;
$red: #ff5c73;
$green: #6dd8af;

$decentralization: $yellow;
$openess: $red;
$web-literacy: $green;
$digital-inclusion: $blue;
$privacy-and-security: $light-blue;

