h1,
.title.-main {
  font-weight: 700;
  font-size: $font-mb-l;
  line-height: 1;
  margin-bottom: 10px;

  @media screen and (min-width: $screen-m) {
    margin-bottom: 15px;
    font-size: $font-xl;
  }

  @media screen and (min-width: $screen-l) {
    font-size: $font-xxl;
  }
}

.title.-main {
  display: inline-block;
  background-color: $black;

  a {
    color: $white;
  }

  @media screen and (min-width: $screen-s) {
    display: inline;
  }
  @media screen and (min-width: $screen-l) {
    line-height: 90px;
  }
}

h2,
h2 p,
.title.-section {
  font-weight: 600;
  font-size: $font-mb-l;
  line-height: 35px;
  margin-bottom: 15px;

  @media screen and (min-width: $screen-m) {
    margin-bottom: 20px;
    font-size: $font-xl;
  }

  @media screen and (min-width: $screen-l) {
    font-size: $font-xxxxl;
    line-height: .8;
  }
}

h3,
.title.-detail {
  font-weight: 600;
  font-size: $font-l;
  line-height: 1;

  @media screen and (min-width: $screen-m) {
    font-size: $font-xl;
  }

  @media screen and (min-width: $screen-l) {
    font-size: $font-xxxl;
  }
}

p,
.text,
%text {
  font-weight: 300;
  font-size: $font-xs;
  line-height: 1.5;
  color: $black;

  @media screen and (min-width: $screen-m) {
    font-size: $font-s;
  }
}

.text.-large {
  font-weight: 300;
  font-size: $font-mb-s;
  line-height: 1.25;

  @media screen and (min-width: $screen-m) {
    font-size: $font-m;
  }

  @media screen and (min-width: $screen-l) {
    font-size: $font-l;
  }
}

.text.-btn1,
%text-btn-1 {
  font-weight: 600;
  font-size: $font-xs;
  line-height: 1.2;

  @media screen and (min-width: $screen-m) {
    font-size: $font-s;
    line-height: 1.75;
  }
}

.text.-btn2,
%text-btn-2 {
  font-weight: 600;
  font-size: $font-xs;
  line-height: 1.25;

  @media screen and (min-width: $screen-m) {
    font-size: $font-s;
  }
}

.text.-btn3 {
  font-weight: 500;
  font-size: $font-xs;
  line-height: 1.2;

  @media screen and (min-width: $screen-m) {
    font-size: $font-s;
    line-height: 1.75;
  }
}

.text.-btn4 {
  font-weight: 600;
  font-size: $font-mb-s;
  line-height: 1.1;

  @media screen and (min-width: $screen-m) {
    font-size: $font-mb-l;
  }

  @media screen and (min-width: $screen-l) {
    font-size: $font-xl;
  }
}

//Footer
.text.-link.-secondary {
  font-weight: 300;
  font-size: $font-xs;
  line-height: 1.2;

  @media screen and (min-width: $screen-m) {
    font-size: $font-s;
  }
}

//Footer
.text.-link.-principal {
  font-weight: 600;
  font-size: $font-xs;
  line-height: 1.2;

  @media screen and (min-width: $screen-m) {
    font-size: $font-s;
  }
}

.text.-box1 {
  font-weight: 300;
  font-size: $font-mb-s;
  line-height: 1.1;

  @media screen and (min-width: $screen-m) {
    font-size: $font-mb-l;
  }

  @media screen and (min-width: $screen-l) {
    font-size: $font-xl;
  }
}

.text.-box2 {
  font-weight: 300;
  font-size: $font-m;
  line-height: 1.4;

  @media screen and (min-width: $screen-l) {
    font-size: $font-ml;
    line-height: 1.3;
  }
}

h1, h2, h3, h4, h5, h6, p,
.text,
.title {
  &.-light {
    color: $white;
  }
  &.-dark {
    color: $black;
  }
}
